body {
    background-image:url(https://static.politico.com/dims4/default/5b1fb5a/2147483647/resize/1160x%3E/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F9f%2F51%2F54d6bffa4f5998525cdcfcfc10a9%2F170817-white-house.jpg);
}
img{
    width:300px;
    color:white;
}
.pictures{
         display:flex;
         flex-direction:column;
         align-items:flex-end;
}